
    <nav class="container mx-auto flex place-content-around p-5">

        <a href="{{ path('main_home') }}">Accueil</a>

        <a href="{{ path('produit_list') }}">Liste Produits</a>

        <a href="{{ path('categorie_list') }}">Liste Catégories</a>

    </nav>
